header {
  .container-fluid img {
    width: 100px;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  #navbarNav li {
    padding: 0 15px;
  }
  .nav-link {
    color: rgb(255, 255, 255);
    font-size: 150%;
    font-family: $fuentePrincipal;
  }
}
