@import "index";
@import "galeria";
@import "biografia";
@import "eventos";
@import "contacto";

/* variables*/
$fondonegro: rgb(0, 0, 0);
$fuentePrincipal: "Monoton", cursive;
/* estilos generales*/

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  padding: 0;
  margin: 0;
  // aplico nesting
}
body {
  background-color: $fondonegro;
}
h1 {
  font-family: $fuentePrincipal;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  margin-top: 10%;
}

footer {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
  padding: 10px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
}

/*MEDIA QUERIES*/
/*tablet*/
@media only screen and (max-width: 768px) {
  h1 {
    font-family: $fuentePrincipal;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin-top: 18%;
  }
  // galeria
  .imagen-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
  }
}

/*mobile*/
@media only screen and (max-width: 576px) {
  // index
  h1 {
    font-family: $fuentePrincipal;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    margin-top: 25%;
  }
  // galeria
  .imagen-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
  }
}
