@import "index";
@import "galeria";
@import "biografia";
@import "eventos";
@import "contacto";

/* variables*/
$fondonegro: rgb(0, 0, 0);
$fuentePrincipal: "Monoton", cursive;
/* estilos generales*/

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  padding: 0;
  margin: 0;
  // aplico nesting
}
body {
  background-color: $fondonegro;
}
h1 {
  font-family: $fuentePrincipal;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  padding: 10px;
}
// aplico nesting mas animaciones
footer {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
  padding: 10px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
}

/*MEDIA QUERIES*/
/*tablet*/
@media only screen and (max-width: 768px) {
  .container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .biografia-index img {
    width: 100%;
    height: auto;
  }
  /* galeria */
  .imagen-galeria {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 20px;
  }
  /* biografia */
  .biografia {
    align-items: center;
    padding: 30px;
    flex-direction: column;
  }
  .biografia img {
    width: 100%;
    height: auto;
  }

  /* eventos */
  .container-evento {
    grid-template-columns: auto;
    grid-row-gap: 10px;
    justify-items: center;
  }
  h1 {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
  footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    padding: 10px;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

/*mobile*/
@media only screen and (max-width: 576px) {
  .container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .biografia-index img {
    width: 100%;
    height: auto;
  }
  /* galeria */
  .imagen-galeria {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 20px;
  }
  /* biografia */
  .biografia {
    align-items: center;
    padding: 30px;
    flex-direction: column;
  }
  .biografia img {
    width: 100%;
    height: auto;
  }

  /* eventos */
  .container-evento {
    grid-template-columns: auto;
    grid-row-gap: 10px;
    justify-items: center;
  }
  h1 {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
  footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    padding: 10px;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
