@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
}

/*para centrar los textos de h1*/
h1 {
  font-family: "Monoton", cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  padding: 10px;
}

/*---------header-navegador-------------*/
#navbarNav li {
  padding: 0 15px;
}

.container-fluid img {
  width: 100px;
}

.nav-link {
  color: rgb(255, 255, 255);
  font-size: 150%;
  font-family: "Monoton", cursive;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

/*--------fin header-navegar---------/*
/*-----------galeria--------------*/
/* .main-galeria {
} */
.imagen-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
}

.imagen-galeria img {
  width: 400px;
  height: 400px;
  padding: 10px;
}

.hover img {
  transition: all 0.3s linear;
}

.hover img:hover {
  transform: scale(1.1);
}

/*-------fin pag galeria------*/
/*biografia*/
.clearfix {
  color: #ccc;
  margin: 30px;
}

.biografia img {
  width: 475px;
  margin: auto;
  padding: 1px;
}

/* fin de biografia*/
/*eventos*/
.main-eventos {
  background-color: rgb(0, 0, 0);
}

.container-evento {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
}

.container-evento img {
  width: 400px;
  height: 400px;
  padding: 10px 5px;
}

/*---fin eventos---*/
/*---contacto--*/
form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/*---fin contacto ---*/
/* footer*/
footer {
  font-family: "Monoton", cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/*MEDIA QUERIES*/
/*tablet*/
@media only screen and (max-width: 768px) {
  /* galeria */
  .imagen-galeria {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 20px;
  }
  /* biografia */
  .biografia {
    align-items: center;
    padding: 30px;
    flex-direction: column;
  }
  /* eventos */
  .container-evento {
    grid-template-columns: auto;
    grid-row-gap: 10px;
    justify-items: center;
  }
  h1 {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
  footer {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
}
/*mobile*/
@media only screen and (max-width: 576px) {
  .container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* galeria */
  .imagen-galeria {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 20px;
  }
  /* biografia */
  .biografia {
    align-items: center;
    padding: 30px;
    flex-direction: column;
  }
  /* eventos */
  .container-evento {
    grid-template-columns: auto;
    grid-row-gap: 10px;
    justify-items: center;
  }
  h1 {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
  footer {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */