@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #000000;
}
/*para centrar los textos de h1*/
h1 {
  font-family: "Monoton", cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  padding: 10px;
}

#navbarNav li {
  padding: 0 15px;
}

/*---------header-navegador-------------*/
.container-fluid button {
  color: white;
  stroke: white;
}

.container-fluid img {
  width: 300px;
  height: 300px;
}
.nav-link {
  color: rgb(255, 255, 255);
  font-size: 150%;
  font-family: "Monoton", cursive;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
/*--------fin header-navegar---------/*
/*-----------galeria--------------*/

.main-galeria {
}
.imagen-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  margin-top: 20px;
}
.imagen-galeria img {
  width: 400px;
  height: 400px;
  padding: 10px;
}

/*-------fin pag galeria------*/

/*biografia*/
.biografia {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 30px;
}

.texto-biografia {
  font-family: none;
  color: white;
  margin-right: 40px;
  margin-left: 40px;
  width: 70%;
  background-color: rgba(27, 27, 27, 0.178);
  font-size: 24px;
}
.biografia img {
  width: 400px;
  margin: auto;
  padding: 1px;
}

/* fin de biografia*/

/*eventos*/
.main-eventos {
  background-color: rgb(0, 0, 0);
}
.container-evento {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
}

.container-evento img {
  width: 400px;
  height: 400px;
  padding: 10px 5px;
}

/*---fin eventos---*/

/* footer*/
footer {
  font-family: "Monoton", cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
  padding: 10px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
}

/*MEDIA QUERIES*/
/*tablet*/
@media only screen and (max-width: 768px) {
}

/*mobile*/
@media only screen and (max-width: 576px) {
  /* galeria */
  .imagen-galeria {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 20px;
  }
  /* biografia */
  .biografia {
    align-items: center;
    padding: 30px;
    flex-direction: column;
  }
  /* eventos */
  .container-evento {
    grid-template-columns: auto;
    grid-row-gap: 10px;
    justify-items: center;
  }
  h1 {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
  footer {
    font-family: "Monoton", cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
}
